@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
:root

.cabecalho {
    width: 100%;
    background-color: #a1ee77;
}
.titulo {
    color: #0c0e0d;
    font-size: 34px;
    font-family: Dancing Script;
    text-align: center;
    padding-top: 3em;
}

.foto {
    width: 30%;
    height: 50px;
}

.header {
    background-color: #a1ee77 ;
    color: #0c0e0d ;
    padding: 10px 0 ;
    text-align: center;
}