@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
:root{
background-color: #ebebeb;
}

.titulo {
    color: #0c0e0d;
    font-size: 34px;
    font-family:Dancing Script;
    text-align: center;
    padding-top: 3em;
}

.foto {
    width: 40%;
    height: 50px;
}

.header {
    background-color: #929292 ;
    color: #0c0e0d ;
    padding: 10px 0 ;
    text-align: center;
}

.h2{
        font-family: Emblema One;
        font-size: 28px;
        color: #0c0e0d;
}
.cabecalho{
    background-color: rgb(137, 237, 158);
}